# Ignore simulation cache folders in this directory
*.aedtresults/
*.aedb/
*.aedt.lock
*.aedt.auto
*.tmp
*.profile

# EDB Validation internal caches
EDB_Validation/**/*.aedt*
EDB_Validation/**/*.tmp
EDB_Validation/**/*.lock